deliverables/screen_recordings/*.mp4 filter=lfs diff=lfs merge=lfs -text
deliverables/screen_recordings/*.mov filter=lfs diff=lfs merge=lfs -text
deliverables/screen_recordings/*.mkv filter=lfs diff=lfs merge=lfs -text
